    *{
        margin: 0 auto;
        padding: 0;
    }

    .container{
        margin: 0 300px 0 230px;
    }

    .date:nth-child(7n){
        background: lightgreen;
    }

    .date:nth-child(7n-1){
        background: lightgreen;
    }

    .months-and-years{
        display: flex;
        padding-bottom: 10px;
        font-size: 32px;
        font-weight: bold;
        width: 300px;
        margin: 10% auto 20px;
    }

    .left-arrow{
        border: 20px solid transparent;
        border-right-color: green;
    }

    .right-arrow{
        border: 20px solid transparent;
        border-left-color: green;
        border-right: 0;
    }
    
    .flex{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 7px;
        width: 400px;
        margin: 0 auto;
    }

    .flex * , .name-day * {
        width: calc(100%/7);
        margin: 0;
        padding-top: 7px;
    }

    .name-day {
        display: flex;
        text-align: center;
        width: 400px;
        margin: 0 auto;
    }


    .border-bottom{
        border-bottom: 1px solid black;
        font-family: "Times New Roman";
        font-weight: bold;
        font-size: 18px;
        color: darkgreen;
    }

    .today {
        background: lightblue;
        font-size: 16px;
        border: 1px dotted blue;
        box-sizing: border-box;
    }

    .no-active {
        background: beige;
        opacity: 0.5;
    }

    .date{
        font-size: 17px;
    }